<?xml version="1.0" encoding="windows-1250" ?>
<servers>
<server>
<host>localhost</host>
<database>jelennas_jelennas</database>
<user>jelennas_jelen</user>
<pass></pass>
</server>

<admin>
	<username>zsauer</username>
	<password></password>
</admin>

<clan>
	<username>jelen</username>
	<password></password>
</clan>


</servers>